streamlit
pandas
numpy
joblib
matplotlib.pyplot
seaborn
sklearn.preprocessing, StandardScaler
mplsoccer, PyPizza, add_image, FontManager
matplotlib.colors, Normalize
matplotlib.cm, ScalarMappable
